<h4>View page</h4>
<br/>
<h3 style='border:1px solid #555;padding:15px;'><a href='/<%= @slug %>'>locahost:3000/<%= @slug %></a></h3>
<br/>
<br/>
<h4>Download link</h4>
<br/>
<h3 style='border:1px solid #555;padding:15px;'><a href='/<%= @slug %>/<%= @slug %><%= @ext %>'>locahost:3000/<%= @slug %><%= @ext %></a></h3>

